@model CrudSegundoParcial.Models.Productos
@{
    ViewData["Title"] = "Crear Producto";
    IEnumerable<SelectListItem> lst = (IEnumerable<SelectListItem>)ViewBag.lst;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--begin::Card-->
<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title">Ingresar nuevo Producto</h3>
    </div>
    <!--begin::Form-->
    <form class="form" method="post" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Producto"></label>
                <input asp-for="Producto" class="form-control form-control-solid" />
                <span class="form-text text-muted">Ingrese nombre del producto</span>
                <span asp-validation-for="Producto" class="text-danger form-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion"></label>
                <input asp-for="Descripcion" class="form-control form-control-solid" />
                <span class="form-text text-muted">Ingrese una descripcion para el producto</span>
                <span asp-validation-for="Descripcion" class="text-danger form-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio_venta"></label>
                <input asp-for="Precio_venta" class="form-control form-control-solid" />
                <span class="form-text text-muted">Ingrese el precio de venta para el producto</span>
                <span asp-validation-for="Precio_venta" class="text-danger form-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio_costo"></label>
                <input asp-for="Precio_costo" class="form-control form-control-solid" />
                <span class="form-text text-muted">Ingrese el precio de costo para el producto</span>
                <span asp-validation-for="Precio_costo" class="text-danger form-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="Existencia"></label>
                <input asp-for="Existencia" class="form-control form-control-solid" />
                <span class="form-text text-muted">Ingrese la existencia del producto</span>
                <span asp-validation-for="Existencia" class="text-danger form-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca_Id">Marca<span class="text-danger">*</span></label>
                @Html.DropDownListFor(m => m.Marca_Id, lst, "Seleccione", new { @class = "form-control" })
                <span asp-validation-for="Marca_Id" class="text-danger form-text"></span>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary mr-2" value="Guardar" />
            <button type="reset" class="btn btn-secondary">Cancelar</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<!--end::Card-->

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

